body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

#drone {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%);
}

.exit {
    color: green;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 48px;
}

.instruction {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 24px;
}
